body {
    background-color: lightblue;
    margin: 0;
    padding: 25px 0 0 0;
}

.arrow {
    height: 50px;
    width: 50px;
}

.button{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.button:active {
    box-shadow: none;
    top: 2px;
    left: 2px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-width: 1266px;
}

.boxes {
    width: 475px;
    height: 475px;
    background-color: white;
    display: flex;
    overflow: hidden;
    border-radius: 50%;
}

#blueBox {
    position: relative;
    transition: left 0.5s, right 0.5s;
    right: 0px;
}

#redBox {
    position: relative;
    transition: left 0.5s, right 0.5s;
    right: 0px;
}

#greenBox {
    position: relative;
    transition: left 0.5s, right 0.5s;
    right: 0px;
}

.picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picker .button {
    width: 150px;
    height: 50px;
}

#pokeName {
    color: green;
}