/*reset the body margins and make page light blue*/
body {
    background-color: lightblue;
    margin: 0;
    padding: 25px 0 0 0;
    font-family: var(--pokeFont);
    letter-spacing: 5px;
}

:root {
    --pokeFont: 'Pokemon Solid', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    color: yellow;
    -webkit-text-stroke: 1px blue;
}

/*size and style the arrow keys*/
.arrow {
    height: 50px;
    width: 50px;
}

.button{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.button:active {
    box-shadow: none;
    top: 2px;
    left: 2px;
}

/*style the banner, which is the circle where the pokemon are display*/
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-width: 1266px;
}

.boxes {
    width: 475px;
    height: 475px;
    background-color: white;
    display: flex;
    overflow: hidden; /*making the overflow hidden so that you can't see the pokemon to the right or left*/
    border-radius: 50%; /*circle looked nicer than a big square*/
    border: 5px solid green;
}

#blueBox {
    position: relative;
    transition: left 0.5s, right 0.5s; /*making it so that the images moving left and right do so over 0.5 seconds instead of instantly */
    right: 0px;
}

#redBox {
    position: relative;
    transition: left 0.5s, right 0.5s;
    right: 0px;
}

#greenBox {
    position: relative;
    transition: left 0.5s, right 0.5s;
    right: 0px;
}

/*styling the h1 under the image*/
#pokeName {
    color: green;
    text-shadow: 2px 2px black;
}

/*styling the choice button*/
.picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picker .button {
    width: 150px;
    height: 50px;
    font-family: var(--pokeFont);
}

@media only screen and (max-width: 480px){
    .intro {
        width: 75%;
        text-align: center;
        line-height: 50px;
    }

    .boxes {
        width: 237.5px;
        height: 237.5px;
    }

    .boxes img {
        width: 237.5px;
        height: 237.5px;
    }
}